@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0px;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

.container {
  padding: 1rem 5rem;
}

.form {
  margin: 2em 2em;
}

form {
  display: flex;
}

form ul {
  list-style: none;
  align-content: center;
  margin-right: auto;
  padding: 0;
  margin: 0 auto;
}

form li {
  width: auto;
  display: inline;
}

label {
  display: inline-block;
  width: auto;
  text-align: right;
}

.button {
  /* Align buttons with the text fields */
  margin-left: 1em;
}

button {
  padding: 0.5em 0.5em;
  border-radius: 19px;
}

input {
  border: 1px solid #ccc;
  border-radius: 19px;
  margin-left: auto;
  margin-right: 50px;
  width: 100px;

  font-weight: 300;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 75%;
}
th {
  font-weight: 400;
  color: white;
  text-align: left;

  padding: 0.75rem;
  position: sticky;
  top: 0;
  background: #3c0000;
}
tr:nth-child(even) {
  background-color: rgba(238, 237, 237, 0.616);
}
td {
  font-weight: 400;
  padding: 0.75rem;
  /* border-top: 1px solid #dee2e6; */
  color: black;
}

td {
  font-weight: 300;
}

@media (max-width: 1100px) {
  .container {
    padding: 1rem 7rem;
  }
  table {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  * {
    font-size: 0.8rem;
  }
  .container {
    padding: 1rem 1rem;
  }
  table {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .container {
    margin: 0;
    padding: 0 0.25rem;
  }

  th,
  td {
    padding: 0.5rem;
  }
  table {
    font-size: 0.4rem;
    width: 25%;
  }
}
